<!DOCTYPE html>
<html>
  <head>
    <title>RailsTestproject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div style="background: pink; margin: -10px; padding: 10px;">Some navigation stuff goes here (format html)</div>
    <%= yield %>
  </body>
</html>
